SECRET_KEY=django_secret_key
LOGIN_ENABLED=Force users to login, 0 or 1
FORCE_SCRIPT_NAME=
DICOM_SERVER=
DICOM_PORT=

SERVER_WADO_SERVER=If not supplied, defaults to DICOM_SERVER
SERVER_WADO_PORT=
SERVER_WADO_PATH=
DICOM_AET=DCM4CHEE