.buttons {
    background: #ccc;
    padding: 20px 10px 10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    float: left;
    margin-bottom: 40px;
    width: 830px;
}
a.button,
a.icon {
    color: #484848;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    font: bold 12px Helvetica, Arial, sans-serif;
    line-height: 35px;
    height: 35px;
    display: block;
    float: left;
    margin-right: 10px;
    padding: 0 10px;
    background: #f0f0f0;
    background: -webkit-linear-gradient(top, #f7f7f7, #d1d1d1);
    background: -moz-linear-gradient(top, #f7f7f7, #d1d1d1);
    background: -ms-linear-gradient(top, #f7f7f7, #d1d1d1);
    background: -o-linear-gradient(top, #f7f7f7, #d1d1d1);
    border: solid 1px #7f7f7f;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#ffffff')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#ffffff');
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
}
a.button:hover,
a.icon:hover {
    border: solid 1px #333;
    color: #282828;
    background: -webkit-linear-gradient(top, #ffffff, #dfdfdf);
    background: -moz-linear-gradient(top, #ffffff, #dfdfdf);
    background: -ms-linear-gradient(top, #ffffff, #dfdfdf);
    background: -o-linear-gradient(top, #ffffff, #dfdfdf);
}
a.selected,
a.button:active,
a.icon:active {
    border: solid 1px #7f7f7f;
    background: #d0d0d0;
    background: -webkit-gradient(linear, left top, left bottom, from(#a8a8a8), color-stop(0.15, #c6c6c6), to(#d8d8d8));
    background: -webkit-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -moz-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -ms-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -o-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
}

a.disabled{
    background: -webkit-gradient(linear, left top, left bottom, from(#3388ee), color-stop(0.15, #2a99ee), to(#2a6fe2));
    background: -webkit-linear-gradient(top, #3388ee, #2a99ee 15%, #2a6fe2);
    background: -moz-linear-gradient(top, #3388ee, #2a99ee 15%, #2a6fe2);
    background: -ms-linear-gradient(top, #3388ee, #2a99ee 15%, #2a6fe2);
    background: -o-linear-gradient(top, #3388ee, #2a99ee 15%, #2a6fe2);
}
a.icon {
    padding: 0;
    margin-bottom: 10px;
}
a.icon span {
    display: block;
    line-height: 35px;
    height: 35px;
    width: 36px;
    max-width: 36px;
    overflow: hidden;
    text-indent: -9999px;
}
a.left {
    margin: 0;
    border-right: solid 1px #b0b0b0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
}
a.middle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin: 0;
    border-left: solid 1px rgba(255, 255, 255, 0);
    border-right: solid 1px #b0b0b0;
}
a.middle:hover,
a.right:hover { border-left: solid 1px #333 }
a.middle:active,
a.right:active { border-left: solid 1px #7f7f7f }
a.right {
    border-left: solid 1px rgba(255, 255, 255, 0);
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
}

a.icon1 span {background:url(button-icons.png) -0px -36px;}
a.icon2 span {background:url(button-icons.png) -36px -36px;}
a.icon3 span {background:url(button-icons.png) -72px -36px;}
a.icon4 span {background:url(button-icons.png) -108px -36px;}
a.icon5 span {background:url(button-icons.png) -144px -36px;}
a.icon6 span {background:url(button-icons.png) -180px -36px;}
a.icon7 span {background:url(button-icons.png) -216px -36px;}
a.icon8 span {background:url(button-icons.png) -252px -36px;}
a.icon9 span {background:url(button-icons.png) -288px -36px;}
a.icon10 span {background:url(button-icons.png) -324px -36px;}
a.icon11 span {background:url(button-icons.png) -0px -72px;}
a.icon12 span {background:url(button-icons.png) -36px -72px;}
a.icon13 span {background:url(button-icons.png) -72px -72px;}
a.icon14 span {background:url(button-icons.png) -108px -72px;}
a.icon15 span {background:url(button-icons.png) -144px -72px;}
a.icon16 span {background:url(button-icons.png) -180px -72px;}
a.icon17 span {background:url(button-icons.png) -216px -72px;}
a.icon18 span {background:url(button-icons.png) -252px -72px;}
a.icon19 span {background:url(button-icons.png) -288px -72px;}
a.icon20 span {background:url(button-icons.png) -324px -72px;}
a.icon21 span {background:url(button-icons.png) -0px -108px;}
a.icon22 span {background:url(button-icons.png) -36px -108px;}
a.icon23 span {background:url(button-icons.png) -72px -108px;}
a.icon24 span {background:url(button-icons.png) -108px -108px;}
a.icon25 span {background:url(button-icons.png) -144px -108px;}
a.icon26 span {background:url(button-icons.png) -180px -108px;}
a.icon27 span {background:url(button-icons.png) -216px -108px;}
a.icon28 span {background:url(button-icons.png) -252px -108px;}
a.icon29 span {background:url(button-icons.png) -288px -108px;}
a.icon30 span {background:url(button-icons.png) -324px -108px;}
a.icon31 span {background:url(button-icons.png) -0px -144px;}
a.icon32 span {background:url(button-icons.png) -36px -144px;}
a.icon33 span {background:url(button-icons.png) -72px -144px;}
a.icon34 span {background:url(button-icons.png) -108px -144px;}
a.icon35 span {background:url(button-icons.png) -144px -144px;}
a.icon36 span {background:url(button-icons.png) -180px -144px;}
a.icon37 span {background:url(button-icons.png) -216px -144px;}
a.icon38 span {background:url(button-icons.png) -252px -144px;}
a.icon39 span {background:url(button-icons.png) -288px -144px;}
a.icon40 span {background:url(button-icons.png) -324px -144px;}
a.icon41 span {background:url(button-icons.png) -0px -180px;}
a.icon42 span {background:url(button-icons.png) -36px -180px;}
a.icon43 span {background:url(button-icons.png) -72px -180px;}
a.icon44 span {background:url(button-icons.png) -108px -180px;}
a.icon45 span {background:url(button-icons.png) -144px -180px;}
a.icon46 span {background:url(button-icons.png) -180px -180px;}
a.icon47 span {background:url(button-icons.png) -216px -180px;}
a.icon48 span {background:url(button-icons.png) -252px -180px;}
a.icon49 span {background:url(button-icons.png) -288px -180px;}
a.icon50 span {background:url(button-icons.png) -324px -180px;}
a.icon51 span {background:url(button-icons.png) -0px -216px;}
a.icon52 span {background:url(button-icons.png) -36px -216px;}
a.icon53 span {background:url(button-icons.png) -72px -216px;}
a.icon54 span {background:url(button-icons.png) -108px -216px;}
a.icon55 span {background:url(button-icons.png) -144px -216px;}
a.icon56 span {background:url(button-icons.png) -180px -216px;}
a.icon57 span {background:url(button-icons.png) -216px -216px;}
a.icon58 span {background:url(button-icons.png) -252px -216px;}
a.icon59 span {background:url(button-icons.png) -288px -216px;}
a.icon60 span {background:url(button-icons.png) -324px -216px;}
a.icon61 span {background:url(button-icons.png) -0px -252px;}
a.icon62 span {background:url(button-icons.png) -36px -252px;}
a.icon63 span {background:url(button-icons.png) -72px -252px;}
a.icon64 span {background:url(button-icons.png) -108px -252px;}
a.icon65 span {background:url(button-icons.png) -144px -252px;}
a.icon66 span {background:url(button-icons.png) -180px -252px;}
a.icon67 span {background:url(button-icons.png) -216px -252px;}
a.icon68 span {background:url(button-icons.png) -252px -252px;}
a.icon69 span {background:url(button-icons.png) -288px -252px;}
a.icon70 span {background:url(button-icons.png) -324px -252px;}
a.icon71 span {background:url(button-icons.png) -0px -288px;}
a.icon72 span {background:url(button-icons.png) -36px -288px;}
a.icon73 span {background:url(button-icons.png) -72px -288px;}
a.icon74 span {background:url(button-icons.png) -108px -288px;}
a.icon75 span {background:url(button-icons.png) -144px -288px;}
a.icon76 span {background:url(button-icons.png) -180px -288px;}
a.icon77 span {background:url(button-icons.png) -216px -288px;}
a.icon78 span {background:url(button-icons.png) -252px -288px;}
a.icon79 span {background:url(button-icons.png) -288px -288px;}
a.icon80 span {background:url(button-icons.png) -324px -288px;}
a.icon81 span {background:url(button-icons.png) -0px -324px;}
a.icon82 span {background:url(button-icons.png) -36px -324px;}
a.icon83 span {background:url(button-icons.png) -72px -324px;}
a.icon84 span {background:url(button-icons.png) -108px -324px;}
a.icon85 span {background:url(button-icons.png) -144px -324px;}
a.icon86 span {background:url(button-icons.png) -180px -324px;}
a.icon87 span {background:url(button-icons.png) -216px -324px;}
a.icon88 span {background:url(button-icons.png) -252px -324px;}
a.icon89 span {background:url(button-icons.png) -288px -324px;}
a.icon90 span {background:url(button-icons.png) -324px -324px;}
a.icon91 span {background:url(button-icons.png) -0px -360px;}
a.icon92 span {background:url(button-icons.png) -36px -360px;}
a.icon93 span {background:url(button-icons.png) -72px -360px;}
a.icon94 span {background:url(button-icons.png) -108px -360px;}
a.icon95 span {background:url(button-icons.png) -144px -360px;}
a.icon96 span {background:url(button-icons.png) -180px -360px;}
a.icon97 span {background:url(button-icons.png) -216px -360px;}
a.icon98 span {background:url(button-icons.png) -252px -360px;}
a.icon99 span {background:url(button-icons.png) -288px -360px;}
a.icon100 span {background:url(button-icons.png) -324px -360px;}
a.icon101 span {background:url(button-icons.png) -0px -396px;}
a.icon102 span {background:url(button-icons.png) -36px -396px;}
a.icon103 span {background:url(button-icons.png) -72px -396px;}
a.icon104 span {background:url(button-icons.png) -108px -396px;}
a.icon105 span {background:url(button-icons.png) -144px -396px;}
a.icon106 span {background:url(button-icons.png) -180px -396px;}
a.icon107 span {background:url(button-icons.png) -216px -396px;}
a.icon108 span {background:url(button-icons.png) -252px -396px;}
a.icon109 span {background:url(button-icons.png) -288px -396px;}
a.icon110 span {background:url(button-icons.png) -324px -396px;}
a.icon111 span {background:url(button-icons.png) -0px -432px;}
a.icon112 span {background:url(button-icons.png) -36px -432px;}
a.icon113 span {background:url(button-icons.png) -72px -432px;}
a.icon114 span {background:url(button-icons.png) -108px -432px;}
a.icon115 span {background:url(button-icons.png) -144px -432px;}
a.icon116 span {background:url(button-icons.png) -180px -432px;}
a.icon117 span {background:url(button-icons.png) -216px -432px;}
a.icon118 span {background:url(button-icons.png) -252px -432px;}
a.icon119 span {background:url(button-icons.png) -288px -432px;}
a.icon120 span {background:url(button-icons.png) -324px -432px;}
a.icon121 span {background:url(button-icons.png) -0px -468px;}
a.icon122 span {background:url(button-icons.png) -36px -468px;}
a.icon123 span {background:url(button-icons.png) -72px -468px;}
a.icon124 span {background:url(button-icons.png) -108px -468px;}
a.icon125 span {background:url(button-icons.png) -144px -468px;}
a.icon126 span {background:url(button-icons.png) -180px -468px;}
a.icon127 span {background:url(button-icons.png) -216px -468px;}
a.icon128 span {background:url(button-icons.png) -252px -468px;}
a.icon129 span {background:url(button-icons.png) -288px -468px;}
a.icon130 span {background:url(button-icons.png) -324px -468px;}
a.icon131 span {background:url(button-icons.png) -0px -504px;}
a.icon132 span {background:url(button-icons.png) -36px -504px;}
a.icon133 span {background:url(button-icons.png) -72px -504px;}
a.icon134 span {background:url(button-icons.png) -108px -504px;}
a.icon135 span {background:url(button-icons.png) -144px -504px;}
a.icon136 span {background:url(button-icons.png) -180px -504px;}
a.icon137 span {background:url(button-icons.png) -216px -504px;}
a.icon138 span {background:url(button-icons.png) -252px -504px;}
a.icon139 span {background:url(button-icons.png) -288px -504px;}
a.icon140 span {background:url(button-icons.png) -324px -504px;}
a.icon141 span {background:url(button-icons.png) -0px -540px;}
a.icon142 span {background:url(button-icons.png) -36px -540px;}
a.icon143 span {background:url(button-icons.png) -72px -540px;}
a.icon144 span {background:url(button-icons.png) -108px -540px;}
a.icon145 span {background:url(button-icons.png) -144px -540px;}
a.icon146 span {background:url(button-icons.png) -180px -540px;}
a.icon147 span {background:url(button-icons.png) -216px -540px;}
a.icon148 span {background:url(button-icons.png) -252px -540px;}
a.icon149 span {background:url(button-icons.png) -288px -540px;}
a.icon150 span {background:url(button-icons.png) -324px -540px;}
a.icon151 span {background:url(button-icons.png) -0px -576px;}
a.icon152 span {background:url(button-icons.png) -36px -576px;}
a.icon153 span {background:url(button-icons.png) -72px -576px;}
a.icon154 span {background:url(button-icons.png) -108px -576px;}
a.icon155 span {background:url(button-icons.png) -144px -576px;}
a.icon156 span {background:url(button-icons.png) -180px -576px;}
a.icon157 span {background:url(button-icons.png) -216px -576px;}
a.icon158 span {background:url(button-icons.png) -252px -576px;}
a.icon159 span {background:url(button-icons.png) -288px -576px;}
a.icon160 span {background:url(button-icons.png) -324px -576px;}
a.icon161 span {background:url(button-icons.png) -0px -612px;}
a.icon162 span {background:url(button-icons.png) -36px -612px;}
a.icon163 span {background:url(button-icons.png) -72px -612px;}
a.icon164 span {background:url(button-icons.png) -108px -612px;}
a.icon165 span {background:url(button-icons.png) -144px -612px;}
a.icon166 span {background:url(button-icons.png) -180px -612px;}
a.icon167 span {background:url(button-icons.png) -216px -612px;}
a.icon168 span {background:url(button-icons.png) -252px -612px;}
a.icon169 span {background:url(button-icons.png) -288px -612px;}
a.icon170 span {background:url(button-icons.png) -324px -612px;}
a.icon171 span {background:url(button-icons.png) -0px -648px;}
a.icon172 span {background:url(button-icons.png) -36px -648px;}
a.icon173 span {background:url(button-icons.png) -72px -648px;}
a.icon174 span {background:url(button-icons.png) -108px -648px;}
a.icon175 span {background:url(button-icons.png) -144px -648px;}
a.icon176 span {background:url(button-icons.png) -180px -648px;}
a.icon177 span {background:url(button-icons.png) -216px -648px;}
a.icon178 span {background:url(button-icons.png) -252px -648px;}
a.icon179 span {background:url(button-icons.png) -288px -648px;}
a.icon180 span {background:url(button-icons.png) -324px -648px;}
a.icon181 span {background:url(button-icons.png) -0px -684px;}
a.icon182 span {background:url(button-icons.png) -36px -684px;}
a.icon183 span {background:url(button-icons.png) -72px -684px;}
a.icon184 span {background:url(button-icons.png) -108px -684px;}
a.icon185 span {background:url(button-icons.png) -144px -684px;}
a.icon186 span {background:url(button-icons.png) -180px -684px;}
a.icon187 span {background:url(button-icons.png) -216px -684px;}
a.icon188 span {background:url(button-icons.png) -252px -684px;}
a.icon189 span {background:url(button-icons.png) -288px -684px;}
a.icon190 span {background:url(button-icons.png) -324px -684px;}
a.icon191 span {background:url(button-icons.png) -0px -720px;}
a.icon192 span {background:url(button-icons.png) -36px -720px;}
a.icon193 span {background:url(button-icons.png) -72px -720px;}
a.icon194 span {background:url(button-icons.png) -108px -720px;}
a.icon195 span {background:url(button-icons.png) -144px -720px;}
a.icon196 span {background:url(button-icons.png) -180px -720px;}
a.icon197 span {background:url(button-icons.png) -216px -720px;}
a.icon198 span {background:url(button-icons.png) -252px -720px;}
a.icon199 span {background:url(button-icons.png) -288px -720px;}
a.icon200 span {background:url(button-icons.png) -324px -720px;}
