# You will need to install the Grassroots DICOM Library (GDCM) with python wrappers. 
# The main wiki for the project is located here: http://gdcm.sourceforge.net/wiki/index.php/Main_Page
# The downloads are located here: http://gdcm.sourceforge.net/wiki/index.php/Downloads
# Follow the instructions for the project. You will need to make sure you have the following installed before 
# building GDCM:
# cmake
# swig

# Other python dependencies
requests
django
pydicom
uwsgi


